<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="consoleLogger" class="logging.ConsoleLogger">
        <constructor-arg value="[DEBUG]"/>    <!--значение своего аргумента поля-->
    </bean>

    <bean id="fileLogger" class="logging.FileLogger">
        <constructor-arg value="[DEBUG]"/>
        <constructor-arg value="app.log"/>
    </bean>

    <bean id="db" class="Database">
       <constructor-arg ref="consoleLogger"/>  <!--зависимость от bean "logger"-->
    </bean>

    <bean id="authService" class="AuthService">
        <constructor-arg ref="db"/>    <!--зависимость от bean "db"-->
    </bean>

    <bean id="userService" class="UserService">
        <constructor-arg ref="consoleLogger"/>
        <constructor-arg ref="db"/>
        <constructor-arg ref="authService"/>
    </bean>

    <bean id="a" class="A">
        <property name="logger" ref="consoleLogger"></property>
    </bean>

    <bean id="myService" class="MyService">
        <constructor-arg  value="Injected value"/>
        <constructor-arg>
            <list>
                <value>Ivan</value>
                <value>Oleg</value>
                <value>Petr</value>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="consoleLogger"/>
                <ref bean="fileLogger"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="text"/>
    </bean>

</beans>